* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  text-align: center;
}
.header .header__logo {
  padding-top: 88px;
  padding-bottom: 60px;
}
.header .menu {
  border-top: 2px solid #C4C4C4;
}
.header .menu .menu__list {
  display: flex;
  justify-content: center;
  list-style: none;
}
.header .menu .menu__list .menu__list-item {
  width: 300px;
}
.header .menu .menu__list .menu__list-item:first-child {
  border-left: 1px solid #c4c4c4;
}
.header .menu .menu__list .menu__list-item:last-child {
  border-right: 1px solid #c4c4c4;
}
.header .menu .menu__list .menu__list-item .menu__list-link {
  display: block;
  padding: 35px 10px 38px;
  font-size: 24px;
  line-height: 28px;
  color: #888888;
  font-weight: 400;
  text-decoration: none;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  transition: all .3s;
}
.header .menu .menu__list .menu__list-item .menu__list-link:hover {
  background-color: #000;
  color: #fff;
}
.header .menu .menu__list .menu__list-item .menu__list-link--active {
  background-color: #000;
  color: #fff;
}

.slider .slider__item {
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.slider .slick-arrow {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  z-index: 5;
  cursor: pointer;
  transform: translateY(-50%);
}
.slider .slick-next {
  right: 20px;
}
.slider .slick-prev {
  left: 20px;
}

.search .search__inner {
  padding: 60px 0 70px;
}
.search .search__inner .search__form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .search__inner .search__form .search__form-label {
  max-width: 156px;
  font-size: 24px;
  line-height: 24px;
  color: #888888;
  font-weight: 400;
  margin-right: 39px;
}
.search .search__inner .search__form-input {
  width: 430px;
  height: 70px;
  padding: 0 15px;
  color: #888888;
  border: 2px solid #C4C4C4;
}
.search .search__inner .search__form-input::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
  font-weight: 400;
}
.search .search__inner .search__form-btn {
  padding: 21px;
  padding-left: 36px;
  height: 70px;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: 400;
  background: #C4C4C4;
  border: none;
  cursor: pointer;
  position: relative;
}
.search .search__inner .search__form-btn:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../assets/search-icon.svg);
  top: 26px;
  left: 9px;
}

.popular .popular__title {
  padding: 18px;
  background: #000000;
  font-family: "PT Serif", serif;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  font-weight: 400;
  text-align: center;
}
.popular .container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.popular .container .popular__inner {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .container .popular__inner .popular__item {
  text-align: center;
}
.popular .container .popular__inner .popular__item .popular__img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
}
.popular .container .popular__inner .popular__item .popular__item-title {
  padding: 30px 15px;
  font-size: 24px;
  line-height: 24px;
  color: #888888;
  font-weight: 400;
}
.popular .container .popular__inner .popular__item .popular__link {
  background-color: #C4C4C4;
  text-decoration: none;
  padding: 13px 48px;
  color: #fff;
}

.reason .container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.reason .container .reason__inner {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reason .container .reason__inner .reason__item {
  width: 470px;
}
.reason .container .reason__inner .reason__item .reason__title {
  font-family: "PT Serif", serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
  padding-left: 136px;
  margin-bottom: 30px;
  position: relative;
}
.reason .container .reason__inner .reason__item .reason__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 103px;
  height: 103px;
}
.reason .container .reason__inner .reason__item .reason__title--icon-1::before {
  background-image: url(../assets/reason/time-icon.png);
}
.reason .container .reason__inner .reason__item .reason__title--icon-2::before {
  background-image: url(../assets/reason/world-icon.png);
}
.reason .container .reason__inner .reason__item .reason__text {
  margin-bottom: 40px;
}
.reason .container .reason__inner .reason__item .reason__link {
  color: #888888;
  padding-left: 36px;
  position: relative;
}
.reason .container .reason__inner .reason__item .reason__link::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../assets/reason/arrow-black.svg);
}

.best {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: right;
}
.best .container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.best .container .best__title {
  max-width: 492px;
  padding-top: 68px;
  margin-bottom: 15px;
  margin-left: auto;
  font-family: "PT Serif", serif;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  font-weight: 400;
}
.best .container .best__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  font-weight: 400;
  background-color: #020202;
  padding: 16px 18px;
}

.about {
  background-color: #000000;
}
.about .container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.about .container .about__inner {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .container .about__inner .staff {
  width: 300px;
}
.about .container .about__inner .staff .about__title {
  font-family: "PT Serif", serif;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  font-weight: 400;
  text-align: center;
  margin-bottom: 47px;
}
.about .container .about__inner .staff .staff__title {
  margin-bottom: 27px;
}
.about .container .about__inner .staff .staff__items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.about .container .about__inner .staff .staff__items .staff__item {
  text-align: center;
}
.about .container .about__inner .staff .staff__items .staff__item .staff__avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 22px;
}
.about .container .about__inner .staff .staff__items .staff__item .staff__info {
  list-style: none;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  font-weight: 400;
  margin-bottom: 43px;
}
.about .container .about__inner .staff .staff__items .staff__item .staff__btn {
  padding: 16px 21px;
  border: none;
  background-color: #fff;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
}
.about .container .about__inner .blog {
  width: 412px;
}
.about .container .about__inner .blog .about__title {
  font-family: "PT Serif", serif;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin-bottom: 47px;
}
.about .container .about__inner .blog .blog__list {
  list-style: none;
}
.about .container .about__inner .blog .blog__list .blog__item .blog__link {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding-left: 67px;
  margin-bottom: 28px;
  position: relative;
}
.about .container .about__inner .blog .blog__list .blog__item .blog__link::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: 0;
  background-image: url(../assets/about/arrow-white.svg);
}
.about .container .about__inner .reviews {
  width: 300px;
}
.about .container .about__inner .reviews .about__title {
  font-family: "PT Serif", serif;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin-bottom: 47px;
}
.about .container .about__inner .reviews .reviews__img {
  width: 100%;
  margin-bottom: 22px;
}
.about .container .about__inner .reviews .reviews__text {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  margin-bottom: 22px;
}
.about .container .about__inner .reviews .reviews__link {
  display: inline-block;
  text-decoration: none;
  padding: 16px 21px;
  background-color: #fff;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
}

.footer {
  background-color: #000000;
}
.footer .container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer .container .footer__top {
  padding: 100px 0;
}
.footer .container .footer__top .footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container .footer__top .footer__nav .footer__menu {
  list-style: none;
  color: #ffffff;
  width: 200px;
}
.footer .container .footer__top .footer__nav .footer__menu .footer__menu-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  font-weight: 400;
}
.footer .container .footer__top .footer__nav .footer__social {
  width: 250px;
  margin-right: 50px;
}
.footer .container .footer__top .footer__nav .footer__social .footer__social-link {
  display: inline-block;
  padding-left: 45px;
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  font-weight: 400;
  position: relative;
}
.footer .container .footer__top .footer__nav .footer__social .footer__social-link::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3px;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer .container .footer__top .footer__nav .footer__social .facebook::before {
  background-image: url(../assets/footer/facebook.svg);
}
.footer .container .footer__top .footer__nav .footer__social .instagram::before {
  background-image: url(../assets/footer/instagram.svg);
}
.footer .container .footer__top .footer__nav .footer__social .twitter::before {
  background-image: url(../assets/footer/twitter.svg);
}
.footer .container .footer__top .footer__form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container .footer__top .footer__form .footer__form-label {
  max-width: 156px;
  font-size: 24px;
  line-height: 24px;
  color: #888888;
  font-weight: 400;
  margin-right: 10px;
}
.footer .container .footer__top .footer__form-input {
  display: block;
  width: 511px;
  height: 70px;
  padding: 0 15px;
  border: none;
}
.footer .container .footer__top .footer__form-input::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
  font-weight: 400;
}
.footer .container .footer__top .footer__form-btn {
  padding: 0 25px;
  height: 70px;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: 400;
  background: #C4C4C4;
  border: none;
  cursor: pointer;
}

.footer__logo {
  background-color: #ffffff;
  text-align: center;
  padding: 3px 10px 23px;
}
.footer__logo .footer__logo-img {
  max-width: 300px;
}
